*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: black ;
    padding: 10px;
}

header ul {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    margin-right: 20px;
    
}

.container {
    background-color: rebeccapurple;
    height: 582px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.item1 {
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: red;
    display: inline-block;
    margin-top: 100px;
    margin-left: 70px;
    border: 10px black;
}

.item1:hover {
    background-color: yellow;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    
}

.item2 {
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: red;
    display: inline-block;
    margin-top: 100px;
    margin-left: 140px;
    border-color: black;
    border-width: 10px;
}


footer {
    background-color: black;
    width: 100%;
}